extends ../layout

block title
    h1 #{exercise.title}

    p #{exercise.description}
    p Source:
      a(href='#{exercise.link}')

block content

  div(class='col-md-12')
    div#alerts

  .well
    p#conversation

  .form-group
    input#chatTextBox(type='text' class='form-control' placeholder='Send a message')
    button#sendButton(type='submit' class='btn btn-default') Send!

  div(class='answers')
    div(class="row")
      div(class="editor-container")
        div(class="col-md-6")
          div#editor
        div(class="col-md-6")
          div#result

    div(class="row")
      div(class="col-md-10")
        button#run(type='' class='btn btn-success') Run code
        button#run(type='' class='btn btn-default pull-right') Export as anonymous Gist
        button#run(type='' class='btn btn-default pull-right') Export as Gist

  iframe(sandbox='allow-scripts'
          id='sandboxed'
          src='/frame' height='0' width='0')

  script(type='text/javascript').
    var ex = '#{exercise.title}';
    var userName = localStorage.getItem('username');

    io = io.connect();
    io.emit('ready', {title : ex, username: userName });

    io.on('announce', function(data){
      console.log('Someone joined')
      $('#alerts').append('<div class="alert alert-success">' + data.message + '</div>');
    });

    io.on('newMessage', function(data){
      $('#conversation').append('<p>'+ data.username + ': ' + data.message + '</p>');
    });

    $('#sendButton').click(function(evt){
      var messageText = $('#chatTextBox').val();
      var messagePayload = {message: messageText, title: ex, username: userName };
      io.emit('sendMessage', messagePayload);
      $('#chatTextBox').val('');
      $('#conversation').append('<p>'+ messagePayload.username + ': '+ messagePayload.message+'</p>');
    });

    var randomString = function() {
      var chars, x;
      var length = 5;
      chars = "abcdefghijklmnopqrstuvwxyz";
      var name = [];
      for (x = 0; x < length; x++) {
        name.push(chars[Math.floor(Math.random() * chars.length)]);
      }
      return name.join('');
    };

    $(document).ready(function() {
      var editor = ace.edit("editor");
      editor.getSession().setMode("ace/mode/javascript");
      editor.setTheme("ace/theme/dawn");
      editor.getSession().setTabSize(2);
      editor.getSession().setUseWrapMode(true);
      editor.$blockScrolling = Infinity

      window.addEventListener('message', function (e) {
        if ((e.origin === "null" && e.source === sandboxedFrame.contentWindow)
          || (e.origin === (window.location.protocol + "//" + window.location.host))) {
          $("#result").text(e.data);
        }
      });

      var sandboxedFrame = document.getElementById('sandboxed');

      function evaluate(frame) {
        var code = editor.getValue();
        frame.contentWindow.postMessage(code, '*');
      }

      document.getElementById('run').addEventListener('click', function () {
        evaluate(sandboxedFrame);
      });

      if (!document.location.hash) {
        document.location.hash = '#' + randomString();
      }
      console.log(document.location.hash)
      var docName = "x:" + document.location.hash.slice(1);

      sharejs.open(docName, 'text', function(error, doc) {
        if (error) {
          console.error(error);
          return;
        }

        if (doc.created) {
          doc.insert(0, "// Insert your code here!\n\nfunction foo() {\n  return 'hi!'\n}\n\nfoo()");
        }

        doc.attach_ace(editor);
        editor.setReadOnly(false);
      });
    });
