extends ../layout

block title
    h1 #{exercise.title}

    p #{exercise.description}
    p Source:
      a(href='#{exercise.link}')

block content

  div(class='col-md-12')
    div#alerts

  .well
    p#conversation

  .form-group
    input#chatTextBox(type='text' class='form-control' placeholder='Send a message')
    button#sendButton(type='submit' class='btn btn-default') Send!

  div(class='answers')
    div(class="row")
      div(class="editor-container")
        div(class="col-md-6")
          div#editor
        div(class="col-md-6")
          div#result

    div(class="row")
      div(class="col-md-10")
        button#run(type='' class='btn btn-success') Run code
        button#run(type='' class='btn btn-default pull-right') Export as anonymous Gist
        button#run(type='' class='btn btn-default pull-right') Export as Gist

  iframe(sandbox='allow-scripts'
          id='sandboxed'
          src='/frame' height='0' width='0')

  script(type='text/javascript' src='../javascripts/editor.js')
  script(type='text/javascript').
    var ex = '#{exercise.title}';
    var userName = localStorage.getItem('username');

    io = io.connect();
    io.emit('ready', {title : ex, username: userName });

    io.on('announce', function(data){
      console.log('Someone joined')
      $('#alerts').append('<div class="alert alert-success">' + data.message + '</div>');
    });

    io.on('newMessage', function(data){
      $('#conversation').append('<p>'+ data.username + ': ' + data.message + '</p>');
    });

    $('#sendButton').click(function(evt){
      var messageText = $('#chatTextBox').val();
      var messagePayload = {message: messageText, title: ex, username: userName };
      io.emit('sendMessage', messagePayload);
      $('#chatTextBox').val('');
      $('#conversation').append('<p>'+ messagePayload.username + ': '+ messagePayload.message+'</p>');
    });
